<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="pagetitle">
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-text">Your data is safe on</li>
                <li class="breadcrumb-sd"><img src="assets/img/footer-logo.png"></li>
                <li class="breadcrumb-text"><a href="index.html">Agreement </a></li>
              </ol>
            </nav>
          </div><!-- End Page Title -->
        </div>
        <div class="col-lg-6">
            <p class="active-text">Activity Log:  34 mins ago</p>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->